<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windows.debcart">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"

        android:icon="@drawable/ck"
        android:label="Centros_Kart"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Slashshow"
            android:label="Centros_Kart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Sing_up"/>
        <activity android:name=".Login"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ProductActivity"/>
        <activity android:name=".ShoppingCartActivity"/>
        <activity android:name=".Viewpage"/>
    </application>


</manifest>